.list-category {
    display: flex;
    flex-wrap: wrap;
}

.list-category .category-item {
    flex: 2;
    margin: 10px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    background: #1262B4;
    text-decoration: none;
    transition: all 500ms ease;
    box-shadow: 1.5px 1.5px 1.5px rgba(180,180,180,0.9);
}

.list-category .category-item:hover {
    transform: scale(1.03);
    background: rgb(19, 91, 163);
}