body {
    font-family: poppins;
    background: #eee;
}

.container-x {
    padding-left: 80px;
    padding-right: 80px;
}

@media screen and (max-width: 768px) {
    .container-x {
        padding-left: 20px;
        padding-right: 20px;
    }
}